---
layout: default
title: 跑步鞋,跑步鞋推荐,跑步鞋品牌,跑步
tags: [跑步,跑步鞋,跑鞋,跑步鞋推荐,跑步鞋品牌,专业跑步鞋,慢跑鞋]
description: "跑步鞋CC是一个围绕跑步运动周边建立的小网站。在此你可以了解到和跑步，跑步鞋相关的知识，也会了解到一些有趣的跑步故事。"
---

<nav>
  <ul class="breadcrumb">
    2013年12月15日：珠海半程马拉松赛
  </ul>
</nav>

{% include carousel %}

<section class="pull-left" id="posts">
    {% for post in paginator.posts %}
    <article class="well lipost">
      <header>
        <a href="/{{ post.category }}/" class="btn btn-warning btn-sm pull-right">{% include categories %}</a>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      </header>
      {{ post.description }}
      <footer>
      <hr>
      <div class="pull-right">{{ post.date | date:" %Y 年 %m 月 %d 日"}}</div><div class="label label-default">{{ post.tags | join: '</div> <div class="label label-default">'}}</div>
      </footer>
    </article>
    {% endfor %}

<nav id="post-pagination">
  <ul class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li class="previous"><a href="/">上一页</a></li>
      {% else %}
        <li><a href="{{ paginator.previous_page_path }}">上一页</a></li>
      {% endif %}
  {% endif %}
      {% if paginator.page == 1 %}
        <li class="active"><a href="#">1</a></li>
      {% else %}
        <li><a href="/">1</a></li>
      {% endif %}
    {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
          <li class="active"><a href="#">{{ count }}</a></li>
        {% else %}
          <li><a href="/page/{{ count }}">{{ count }}</a></li>
        {% endif %}
    {% endfor %}
  {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path }}">下一页</a></li>
  {% endif %}
</ul>
</nav>
</section>

{% include indexsidebar %}
{% include friendlinks %}
