<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{% if page.category == "marathon" %}马拉松 - {% elsif page.category == "health" %}健康 - {% elsif page.category == "shoe" %}跑步鞋 - {% elsif page.category == "skills" %}跑步技巧 - {% else %}{{ page.category }}{% endif %}跑步鞋CC</title>
  <meta name="keywords" content="{{ page.tags | join: ', '}}" />
  {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="/assets/custom.css"> 
  <!--[if lt IE 9]>
  <script src="/assets/html5shiv.js"></script>
  <![endif]-->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?7a91af3887d98b5a8f1f2741f664cbec";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
