body {
}

a { 
  text-decoration: none; 
}

#banner {
  color: rgb(255,255,255);
  border-bottom: 0px none;
  background-color: rgb(55, 159, 21);
  border-color: rgb(47, 137, 18);
  padding: 40px 30px;
  margin: 55px 0 5px;
}

#main {
}

ul.posts {
  float: left;
  width: 70%;
  padding: 0 10px;
  list-style-type: none;
  font-size: 17px;
}

ul.posts li {
  
}

hr {
  margin-bottom: 10px;
}
.postinfo {
  color: #6e6e6e;
}

.sidebar {
  float: right;
  width: 30%;
}

.flink {
  position: absolute;
  bottom: 80px;
  width: 100%;
}

.footer { 
  padding: 0 10px;
}

.post {
  width: 70%;
  padding: 0 10px;
}
