a { 
  text-decoration: none; 
}

body {
  background-image:url('cardboard_flat.png');
}

.container {
  max-width: 1000px !important;
  min-width: 1000px !important;
}

.navbar {
  margin-bottom: 5px;
}

.well {
  margin-bottom: 5px;
}

#banner {
  position: relative;
  width: 450px;
  height:205px;
  color: rgb(255,255,255);
  border-bottom: 0px none;
  background-color: rgb(55, 159, 21);
  border-color: rgb(47, 137, 18);
  padding: 40px 30px;
  margin: 0 5px 5px 0;
}

#brand {
  display: block;
  position: relative;
}

.bottomword {
  position: absolute;
  width: 100%;
  padding: 0px 1px;
  font-size: 12px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  background: none repeat scroll 0% 0% rgb(0, 0, 0);
  text-indent: 10px;
  opacity: 0.5;
  z-index: 2;
  color: #fff;
  bottom: 0;
}

.topword {
  position: absolute;
  width: 100%;
  padding: 0px 1px;
  font-size: 12px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  background: none repeat scroll 0% 0% rgb(0, 0, 0);
  text-indent: 10px;
  opacity: 0.5;
  z-index: 2;
  color: #fff;
  top: 0;
}

.new1 {
  position: absolute;
  left: 455px;
}

.new2 {
  position: absolute;
  left: 620px;
}

#content p img{
  width:634px;
}

.panel-body ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.postinfo {
  color: #6e6e6e;
}

.sidebar {
  float: right;
  width: 30%;
}

ul.breadcrumb {
  margin-bottom:5px;
}


#flink {
  clear: both;
  width: 100%;
  margin: 8px 2px;
}

footer span { 
  padding: 0px 35px;
}

#post {
  width: 70%;
  padding-right: 5px;
}
