---
layout: default
---

<div id="main">
  <ul class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/{{ page.category }}">{{ page.category }}</a><li>
  </ul>
<div class="pull-left posts">
<div class="well" id="content">  
<h2>{{ page.title }}</h2>
{{ content }}
</div>
<div class="well" id="comment">
<!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"paobuxie"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- Duoshuo Comment END -->
</div>
</div>

  <div class="sidebar pull-right">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">文章属性</h3>
      </div>
      <div class="panel-body">
        <ul>
        <li>{% if page.orltitle %}原标题：{{ page.orltitle }}{% endif %}</li>
        <li>{% if page.author %}作者：{{ page.author }}{% endif %}</li>
        <li>{% if page.source %}来源：<a href="{{ page.sourceurl }}" rel="nofollow" target="_blank">{{ page.source }}</a>{% endif %}</li>
        <li>标签：{{ page.tags | join:',' }}</li>
        <li>日期：{{ page.date | date:"%Y 年 %m 月 %d 日" }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
