---
layout: default
---

<div class="pull-left" id="post">
<div class="well" id="content">  
<h2>{{ page.title }}</h2>
{{ content }}
</div>
<div class="well" id="comment">
<!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"paobuxie"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- Duoshuo Comment END -->
</div>
</div>

  <div class="sidebar pull-right">
    <div class="panel panel-primary">
     <div class="panel-heading">
       <h3 class="panel-title">文章属性</h3>
     </div>
     {% if page.author %}<p>作者：{{ page.author }}</p>{% end if %}
     {% if page.source %}<p>来源：{{ page.source }}</p>{% end if %}
     <p>标签：{{ page.tags | join:',' }}</p>
     <p>日期：{{ page.date | date:"%Y 年 %m 月 %d 日" }}</p>
    </div>
   </div>
